/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

body {
  background-image:url('{{ site.baseurl }}/images/leaderboard_background_01.jpg')
}

header {
  background-color:#fff;
  opacity: 0.9;
  border-radius: 5px;
  margin-top: 20px;
}

header h1 { 
  text-align: center; 
  font-family: 'Kameron', serif;
}

/*****************************************************************************/
/*
/* Timer
/*
/*****************************************************************************/


ul.timer {
    width:700px;
    margin:0px auto 40px auto;
    list-style: none;
    font-size: 2.5em;
    overflow: auto;
}
ul.timer li {
    float: left;
    margin-right: 10px;
    background-color: gray;
    padding: 10px;
    padding-top: 30px;
    color: #fff;
    border-radius: 5px;
    width: 100px;
    height: 110px;
}
ul.timer li div.kyle {
    display: block;
    font-size: .4em;
    width: 100%;
}
ul.timer li span.numbers {
  font-family: 'Diplomata', cursive;
}
ul.timer li span.labels, ul.timer li span.numbers {
    display: block;
    width: 100%;
    text-align: center;
}


